:root {
    --dark-red: #C20300;
    --dark-cyan: #1CB3CB;
    --light-cyan: #36C7DE;
    --dark-green: #59A52B;
}

.custom-form-control {
    position: relative;

    padding-bottom: 24px;
}

.custom-form-control.success input,
.custom-form-control.success select {
    border: 2px solid var(--dark-cyan);
}

.custom-form-control.error input,
.custom-form-control.error select {
    border: 2px solid var(--dark-red);
}


.custom-form-control svg {
    font-size: 24px;

    visibility: hidden;

    position: absolute;
    top: 20px;
    left: 20px;
}

.custom-form-control.success svg.fa-check-circle {
    visibility: visible;
    color: var(--dark-cyan);
}

.custom-form-control.error svg.fa-exclamation-circle {
    visibility: visible;
    color: var(--dark-red);
}


.custom-form-control small {
    visibility: hidden;

    position: absolute;
    bottom: 18px;
    right: 0;

    font-weight: 500;
}

#add-category-form .custom-form-control small,
#update-category-form .custom-form-control small {
    bottom: 0;
}

#log-in-form .formErrorMsg,
#sign-up-form .formErrorMsg {
    visibility: hidden;

    position: relative;
    top: -16px;

    font-weight: 500;
}

.custom-form-control.error small,
#log-in-form.error .formErrorMsg,
#sign-up-form.error .formErrorMsg {
    visibility: visible;
    color: var(--dark-red);
}

/* add new product form */
#add-product-form .custom-form-control small {
    bottom: 0;
}

/* choose user type radio buttons */

.chooseUserType .custom-radio {
    margin-bottom: 10px;

    position: relative;
    right: 36px;
}

.chooseUserType label {
    font-weight: 500;

    position: relative;
    top: -5px;
}

.chooseUserType input[type='radio'] {
    display: none;
}

.chooseUserType label::before {
    position: absolute;
    right: -36px;
    top: 4px;
    content: '';

    width: 22px;
    height: 22px;

    border: 4px solid var(--dark-cyan);
    border-radius: 50%;
}


.chooseUserType input[type='radio']:checked+label::before {
    width: 22px;
    height: 22px;

    background: url(../../img/icons/circle-dot-solid.svg);
}


#taxrecord {
    display: none;
}

.custom-form-control:has(#taxrecord) {
    padding-bottom: 0;
}