:root {
    --dark-red: #C20300;
    --dark-cyan: #1CB3CB;
    --light-cyan: #36C7DE;
    --dark-green: #59A52B;
}

.card,
select,
input,
img {
    border-radius: 1px !important;
}

a {
    text-decoration: none;
}


.card-body {
    padding: 16px 8px;
}

.card img {
    width: auto !important;
    height: 280px;
}

/* modal style */
.modal {
    direction: rtl;
}

.btn,
.modal-content {
    border-radius: 2px !important;
    border-width: 2px;
    font-weight: bold;
}

@media (min-width: 960px) {
    .modal-dialog:not(.delete-modal) {
        max-width: 75%;
    }
}

@media (max-width: 960px) {
    .modal-dialog:not(.delete-modal) {
        max-width: 85% !important;
    }
}

.modal .modal-header {
    justify-content: center !important;
}

.modal .modal-header .modal-title {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.modal .modal-header .btn-close {
    align-self: end !important;

    position: relative;
    top: 50%;
    right: 5px;
    transform: translateY(-25%);

    border: 2px solid darkgray;
    border-radius: 2px;
}

select:not(#category),
input:not(.searchInp) {
    width: 204px !important;
}

.modal select {
    width: 204px !important;
}

.btn-outline-info,
.btn-outline-info:focus {
    color: var(--dark-cyan);
    border-color: var(--dark-cyan);

    padding-left: 50px;
}

.btn-outline-info:hover {
    background-color: var(--dark-cyan);
    color: #fff;
}


.btn-outline-success,
.btn-outline-success:focus {
    color: var(--dark-green);
    border-color: var(--dark-green);

    padding-left: 50px;
}

.btn-outline-success:hover {
    background-color: var(--dark-green);
    color: #fff;
}


.btn-info,
.btn-primary,
.btn-info:focus,
.btn-primary:focus {
    background-color: var(--dark-cyan);
}

.btn-info:hover,
.btn-primary:hover {
    background-color: var(--light-cyan);
}

.form-control:focus {
    border-color: var(--light-cyan);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--light-cyan);
}

/* section-offers-request  display-price page*/
.section-offers-request {
    display: block;
    position: relative;
    padding: 50px 0 120px;
}

.section-offers-request #price {
    width: 110px;
    margin: auto;
}

table tr td {
    line-height: 70px;
}

.request-price-modal input {
    width: 120px !important;
}

#addProd-plus-btn,
#updateProd-plus-btn,
#addCateg-plus-btn {
    margin-right: 10px;

    position: relative;
    top: 3px;
}

.newDetailsInputs #detailsName-addProd,
.newDetailsInputs #detailsName-updateProd {
    margin-right: -10px;
}


/* admin control panel */
.section-category .section-title {
    margin-bottom: 0px !important;
}

.allProdRow .card {
    width: 20rem;
}

@media (max-width: 767px) {
    .allProdRow .card {
        width: 24rem;
    }
}

/* add product img */
.add-product-img {
    position: relative;

    cursor: pointer;
}

.add-product-img .add-img-text {
    display: none;

    position: absolute;
    top: 50%;
    right: 25%;

    transform: translateY(-50%);
    color: #fff;

    font-size: 20px;
    font-weight: bold;
}

.add-product-img:hover .add-img-text {
    display: block;
}

.add-product-img .no-img {
    width: 316px;
    height: 280px;

    background-color: #ccc;
    color: #fff;

    font-size: 20px;
    font-weight: bold;
    line-height: 260px;
}

.add-product-img:has(.no-img):hover .add-img-text {
    display: none;
}

/* product images in modal5 */
.productImgs {
    position: relative;
}

.productImgs img {
    height: 300px;
}

.productImgs .btn-close {
    position: absolute;
    top: 0;
    right: 0;
}

/* details close btn (remove details input) */
.detailsInp .custom-form-control {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 205px;
}

#exampleModal1 .detailsInp .btn-close,
#exampleModal2 .detailsInp .btn-close {
    align-self: end !important;

    width: 5px !important;
    height: 5px !important;

    position: absolute;
    top: 14px;
}